form {
    width: 90%;
    max-width: 230px;
    background-color: rgb(255, 255, 255);
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 6px 10px rgb(71, 121, 122, 0.5);
}

textarea {
    background-color: white;
    border: 3px solid rgb(169, 210, 212);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    height: 60px;
    width: calc(100% - 25px);
    margin-bottom: 10px;
    color: cadetblue;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

textarea::placeholder {
    color: rgb(123, 184, 186);
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

textarea:focus {
    outline-color: cadetblue;
}

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    color: #202329;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background: cadetblue;
    color: white
}

.TodoForm-button:hover{
    background-color: rgb(134, 192, 194);
}