body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(240, 245, 245) 0%, rgb(203, 229, 231) 100%);
  font-family: Poppins, sans-serif BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  margin: 0 20px;
  position: relative;
  min-height: 100vh;
}